.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-hero {
  height: 100vh; /* Set tinggi hero section sesuai tinggi viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.custom-hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.custom-hero p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.hero-section Button {
    font-size: 1.2rem; /* Adjust font size as needed */
}

.collaboration-section {
  height: 100vh; /* Set tinggi sesuai dengan tinggi viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff; /* Sesuaikan dengan warna latar belakang yang diinginkan */
  text-align: center;
}

.collaboration-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.collaboration-section p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

/* Tambahkan CSS tambahan sesuai kebutuhan */
