/* login.css */

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../../assets/images/golfbg.png');
  background-size: cover; /* Mengatur gambar agar menutupi seluruh elemen */
  background-position: center; /* Menentukan posisi gambar latar belakang */
}

.container.custom-login-form {
  width: 70%;
  max-width: 500px;
  padding: 40px;
  border: 1px solid #cccccc74;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(4px); 
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.custom-login-form form {
  width: 100%;
}

.custom-login-form form .form-control,
.custom-login-form form .form-select { 
  border-radius: 40px;
}

.custom-login-form form .btn-login {
  border-radius: 40px;
  width: 200px;
  margin-top: 20px;
  background-color: #fff;
  color: #28a745;
  border: 2px solid #28a745;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Menambahkan efek transisi */
}

.custom-login-form form .btn-login:hover {
  background-color: #28a745;
  color: #fff;
  border: 2px solid #28a745;
}

.custom-login-form form .input-box {
  position: relative;
}

.custom-login-form form .input-box input.form-control {
  padding-right: 40px; 
}

.custom-login-form form .input-box .icon-wrapper {
  position: absolute;
  top: 60%;
  right: 15px; 
  transform: translateY(-50%);
}

.floating-object {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 0px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(3, 52, 49, 0.1);
  width: 60vh;
  height: 30vh;
  animation: floatIn 0.2s ease-in-out;
  z-index: 1;
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 600px) {
  .container.custom-login-form {
    width: 90%;
    max-width: none;
    border: 0px; 
    border-radius: 0px;
    box-shadow: 0 0 0px;
  }
}
